node_modules/
dist/
build/
.DS_Store

# env
.env
.env.local
server/.env
client/.env

# database
*.db
*.db-journal
server/prisma/*.db
server/prisma/migrations/**/*.db

# logs
*.log
npm-debug.log*

# editor
.vscode/
.idea/

/generated/prisma
test-results/.last-run.json
